*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size:62.5%;
}
header{
    width:100%;
    text-align: center;
    height:70px;
    background-color: blanchedalmond;
    padding-top: 5px;
    font-family: Verdana;
}
header h1{
    font-size:3rem;
}
header p{
    font-size:1.2rem;
}

.main{
    width:100%;
    height: 800px;
    background-color:coral;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.main__container{
    width:500px;
    height:350px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    cursor: pointer;
}
.main__container h2{
    font-size: 2rem
}
.main__container-Cuadrado--form{
    width: 80%;
    height: 70%;
    margin-top: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main__container-Cuadrado--form label{
    font-size: 1.4rem;
    margin-bottom:5px;
    cursor: pointer;
}
.main__container-Cuadrado--form input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.main__container-Cuadrado--form button{
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
